.row {
  margin-bottom: 15px;
}

.magic-container {
  width: 854px;
  height: 480px;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.player {
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

#player-left {
  border-right: 1px dashed white;
}
